html,
body {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Amari', sans-serif;
  background: url(Rodny.jpg) no-repeat center center fixed; 

/*   These aren't needed anymore
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */

  background-size: cover;
}

.logo {
  font-family: 'Mynerve';
  color: #FFFFFF;
  font-size: 3em;
}

h1{
  font-size: 3rem;
  color: #FFFFFF;
  margin-left: 20px;
}

.buffer {
  height: 15rem;
}

.btn {
  font-weight: 800;
  border-radius: 200px;
}

.btn-primary {
  background-color: black;
  border-color: black;
  transition: all 1s;
}

.btn-primary:hover {
  background-color: #801616;
  border-color: #801616;
  transform: scale(1.1);
}

.btn-cu {
  padding: 0.5rem 2rem;
}

@media screen and (min-width: 480px) {
  body {
    background: url(Rodny.jpg) no-repeat center top fixed; 
  }
}

